$white: #fff;
$black: #000;

$gray: #777;
$gray-light: #bbb;
$gray-lighter: #ddd;
$gray-lightest: #efefef;

$green: #8dae28;

$red: #b3000a;

.modules {
  &__add {
    // background: $gray-lighter;
    // border: 2px dashed $gray-lighter;
    margin-bottom: 0.25em;
    display: block;
    padding: 0.6em 0.9em;
    white-space: nowrap;
    flex: 1 0 100%;
    line-height: 1.5em;
    font-size: 1em;
    text-align: right;

    a {
      // color: $white;
    }
  }

  &__counter {
    padding-left: 0.25em;
    font-size: 0.8em;
    font-weight: normal;
    color: $gray-light;
    line-height: 1;
  }

  &__empty {
    background: $gray-lighter;
    padding: 1.5em;

    a {
      border-bottom: 2px solid $gray-light;
      margin: 0 0.25em;

      &:hover {
        border-color: $black;
      }

      &:first-child {
        margin-left: 0.5em;
      }
    }
  }

  &.is-unselectable {
    user-select: none;
  }

  &__navigation {
    padding-top: 0.5em;
    position: relative;
  }

  &__action {
    color: $gray;
    font-weight: 400;
    line-height: 1.5em;

    .icon,
    &:hover {
      color: $black;
    }

    &--add {
      position: absolute;
      right: 0;
    }

    &:nth-child(n+2) {
      margin-left: 1em;
    }
  }

  // &__navigation {
  //   input::-moz-focus-inner {
  //   	border: 0;
  //   	padding: 0;
  //   	margin-top:-2px;
  //   	margin-bottom: -2px;
  //   }
  //
  //   button {
  //     border: none;
  //   }
  // }

  // &__add {
  //   margin-top: 1em;
  //   text-align: right;
  // }
}

.module {
  background: $white;
  border: 2px solid $gray-lighter;
  margin-bottom: 0.25em;
  position: relative;

  a,
  button {
    color: inherit;
  }

  .icon {
    vertical-align: -10%;

    button & {
      vertical-align: -5%;
    }

    &:not(.icon-left) {
      width: 1.28571em;
    }
  }

  // &:hover {
  //   animation: pulse 1s;
  // }

  &.is-selected,
  &.ui-sortable-helper {
    // border-color: $green;
    // border-color: $gray;
    border-color: $black;

    // border-color: $gray-lighter;
    // background: $gray-lightest;
  }

  &__icon {
    display: inline;
  }

  // opacity: 0.5;
  // &.is-selected {
  //   // opacity: 1;
  //   border-color: $green;
  // }

  &__counter {
    padding-left: 0.25em;
    font-size: 0.8em;
    color: $gray-light;
    line-height: 1;
  }

  // &[data-visible="false"] {
  //   // border-style: dashed;
  //   // border-color: $red;
  // }

  // &[data-visible="false"] {
  //   background: mix($gray-lightest, $white, 50%);
  //   border-color: mix($gray-lightest, $black, 97.5%);
  //   color: $gray;
  //
  //   &:not(:hover) {
  //     // background: mix($gray-lightest, $white, 50%);
  //   }
  // }

  &__preview {
    border-bottom: 1px solid $gray-lightest;
    cursor: move;

    &:empty {
      display: none;
    }

    // display: none;

    // > * {
    //   .module[data-visible="false"] & {
    //     opacity: 0.75;
    //   }
    // }

    &--bottom {
      border-bottom: none;
      border-top: 1px solid $gray-lightest;
    }
  }

  &__navigation {
    display: flex;
    flex-flow: row nowrap;
  }

  &__title,
  &__action {
    padding: 0.6em 0.9em;
    white-space: nowrap;
    flex: 1 0 100%;
    line-height: 1.5em;
    font-size: 1em;
  }

  &__title {
    flex: 1 0 auto;
    cursor: move;

    .module[data-visible="false"] & {
      color: mix($white, $gray-light, 20%);
    }
  }

  &__action {
    flex: 0 0 auto;
    border: none;
    border-left: 1px solid $gray-lightest;
    background: transparent;
    cursor: pointer;
    outline: 0;

    &.is-disabled {
      pointer-events: none;
      color: mix($white, $gray-light, 20%);
    }

    // display: none;
  }
}

// @keyframes pulse {
//   from {
//     border-color: $green;
//   }
//   to {
//     border-color: $gray-lighter;
//   }
// }
