/* TEMP: until https://github.com/getkirby/panel/pull/986 is resolved */
.form-blueprint-home > fieldset {
  min-width: 0;
}

@-moz-document url-prefix() {
  .form-blueprint-home > fieldset {
   display: table-cell;
  }
}

.sortable__counter {
  padding-left: 0.25em;
  font-size: 0.8em;
  font-weight: 400;
  color: #bbb;
  line-height: 1;
}

.sortable__empty {
  background: #ddd;
  padding: 1.5em;
}

.sortable__empty a {
  border-bottom: 2px solid #bbb;
  margin: 0 0.25em;
}

.sortable__empty a:hover {
  border-color: #000;
}

.sortable__empty a:first-child {
  margin-left: 0.5em;
}

.sortable__navigation {
  padding-top: 0.5em;
  position: relative;
}

.sortable__action {
  color: #777;
  font-weight: 400;
  line-height: 1.5em;
}

.sortable__action .icon,
.sortable__action:hover {
  color: #000;
}

.sortable__action--add {
  position: absolute;
  right: 0;
}

.sortable__action:nth-child(n+2) {
  margin-left: 1em;
}

.sortable__action.is-disabled {
  pointer-events: none;
  color: #c9c9c9;
}

.sortable-entry a,
.sortable-entry button,
.sortable__action.is-disabled .icon {
  color: inherit;
}

.sortable-entry {
  margin-bottom: 0.25em;
}

.sortable-entry__default {
  background: #fff;
  border: 2px solid #ddd;
  position: relative;
}

.sortable-entry .icon {
  vertical-align: -5%;
}

.sortable-entry .icon:not(.icon-left) {
  width: 1.28571em;
}

.sortable-entry__icon {
  display: inline;
}

.sortable-entry__counter {
  padding-left: 0.25em;
  font-size: 0.8em;
  color: #bbb;
  line-height: 1;
}

.sortable-entry [data-handle] {
  cursor: move;
}

.sortable-entry__navigation {
  min-height: 44px;

  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-flow: row nowrap;
  -ms-flex-flow: row nowrap;
  flex-flow: row nowrap;
}

.sortable-entry__icon,
.sortable-entry__action,
.sortable-entry__title {
  padding: 0.65em 0.9em 0.55em;
  white-space: nowrap;
  line-height: 1.5em;
  font-size: 1em;
}

.sortable-entry__icon {
  padding-right: 0.35em;
}

.sortable-entry__title {
  -webkit-flex: 1 0 0%;
  -ms-flex: 1 0 0%;
  flex: 1 0 0%;
  cursor: move;
  overflow: hidden;
  text-overflow: ellipsis;
  padding-left: 0.35em;
}

.sortable-entry[data-visible=false] .sortable-entry__icon,
.sortable-entry[data-visible=false] .sortable-entry__title {
  color: #c9c9c9;
}

.sortable-entry__action {
  -webkit-flex: 0 0 auto;
  -ms-flex: 0 0 auto;
  flex: 0 0 auto;
  border: none;
  border-left: 1px solid #efefef;
  background: 0 0;
  cursor: pointer;
  outline: 0;
}

.sortable-entry__action.is-disabled {
  pointer-events: none;
  color: #c9c9c9;
}
