.modules-layout__preview {
  border-bottom: 1px solid #ddd;
}

.modules-layout__preview:empty {
  display: none;
}

.modules-layout__preview--bottom {
  border-bottom: none;
  border-top: 1px solid #ddd;
}
