.entities__counter {
  padding-left: 0.25em;
  font-size: 0.8em;
  font-weight: 400;
  color: #bbb;
  line-height: 1;
}

.entities__empty {
  background: #ddd;
  padding: 1.5em;
}

.entities__empty a {
  border-bottom: 2px solid #bbb;
  margin: 0 0.25em;
}

.entities__empty a:hover {
  border-color: #000;
}

.entities__empty a:first-child {
  margin-left: 0.5em;
}

.entities__navigation {
  padding-top: 0.5em;
  position: relative;
}

.entities__action {
  color: #777;
  font-weight: 400;
  line-height: 1.5em;
}

.entities__action .icon,
.entities__action:hover {
  color: #000;
}

.entities__action--add {
  position: absolute;
  right: 0;
}

.entities__action:nth-child(n+2) {
  margin-left: 1em;
}

.entities__action.is-disabled {
  pointer-events: none;
  color: #c9c9c9;
}

.entity {
}

.entity a,
.entity button,
.entities__action.is-disabled .icon {
  color: inherit;
}

.entity {
  margin-bottom: 0.25em;
}

.entity__default {
  background: #fff;
  border: 2px solid #ddd;
  position: relative;
}

.entity .icon {
  vertical-align: -10%;
}

button .entity .icon {
  vertical-align: -5%;
}

.entity .icon:not(.icon-left) {
  width: 1.28571em;
}

.entity__icon {
  display: inline;
}

.entity__counter {
  padding-left: 0.25em;
  font-size: 0.8em;
  color: #bbb;
  line-height: 1;
}

.entity__preview {
  border-bottom: 1px solid #efefef;
  cursor: move;
}

.entity__preview:empty {
  display: none;
}

.entity__preview--bottom {
  border-bottom: none;
  border-top: 1px solid #efefef;
}

.entity__navigation {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-flow: row nowrap;
  -ms-flex-flow: row nowrap;
  flex-flow: row nowrap;
}

.entity__action,
.entity__title {
  padding: 0.6em 0.9em;
  white-space: nowrap;
  line-height: 1.5em;
  font-size: 1em;
}

.entity__title {
  -webkit-flex: 1 0 auto;
  -ms-flex: 1 0 auto;
  flex: 1 0 auto;
  cursor: move;
}

.entity[data-visible=false] .entity__title {
  color: #c9c9c9;
}

.entity__action {
  -webkit-flex: 0 0 auto;
  -ms-flex: 0 0 auto;
  flex: 0 0 auto;
  border: none;
  border-left: 1px solid #efefef;
  background: 0 0;
  cursor: pointer;
  outline: 0;
}

.entity__action.is-disabled {
  pointer-events: none;
  color: #c9c9c9;
}
