$white: #fff;
$black: #000;

$gray: #777;
$gray-light: #bbb;
$gray-lighter: #ddd;
$gray-lightest: #efefef;

$green: #8dae28;

.modules {}

.module {
  background: $white;
  border: 2px solid $gray-lighter;
  margin-bottom: 0.25em;
  position: relative;

  a,
  button {
    color: inherit;
  }

  .icon {
    vertical-align: -10%;

    button & {
      vertical-align: -5%;
    }
  }

  &[data-visible="false"] {
    background: mix($gray-lightest, $white, 33.3333%);

    &:not(:hover) {
      color: $gray;
    }
  }

  // &.ui-sortable-helper {
  //   border-color: $green;
  // }

  &__preview {
    border-bottom: 1px solid $gray-lightest;
  }

  &__navigation {
    display: flex;
    flex-flow: row nowrap;
  }

  &__title,
  &__button {
    padding: 0.6em 0.9em;
    white-space: nowrap;
    flex: 1 0 100%;
    line-height: 1.5em;
    font-size: 1em;
  }

  &__title {
    flex: 1 0 auto;
    cursor: move;
  }

  &__button {
    flex: 0 0 auto;
    border: none;
    border-left: 1px solid $gray-lightest;
    background: transparent;
    cursor: pointer;
    outline: 0;
  }
}
